altgraph==0.17.5
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
evdev==2.0.0
flatbuffers==25.12.19
idna==3.19
joblib==1.5.3
narwhals==2.25.0
numpy==1.26.4
onnxruntime==1.29.0
openwakeword==0.6.0
packaging==26.3
protobuf==7.36.0
PyAudio==0.2.14
pycparser==3.0
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
pynput==1.8.2
python-xlib==0.33
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
SpeechRecognition==3.17.0
srt==3.5.3
tflite-runtime==2.14.0
threadpoolctl==3.6.0
tqdm==4.70.0
typing_extensions==4.16.0
urllib3==2.7.0
vosk==0.3.45
websockets==17.0.1
